<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">


    <title>STUDENT REGISTRATION</title>

</head>
<body>
<div>
	<div>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: #23272b">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand mb-0 h1" href="#">Student Registration</a>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<div class="navbar-nav">
			  <a class="nav-link" href="/searchStudentDetails/">Find Student <span class="sr-only">(current)</span></a>
			  <a class="nav-link" href="/addStudentInfo/">Add Student</a>
			  <a class="nav-link" href="/logout/">Logout</a>
			</div>
		  </div>
		</nav>
	</div>
	<div>
		{% block content %}
		{% endblock %}
	</div>

</div>
</body>
</html>
