{% extends "StudentRegistration/base.html" %}
{% block content %}
	<div class="sidenav">
		<div class="column right">
			<section id="home"><p style="font-size: 80px;">Student Registration</p></section>
			<form method="get" action="{% url 'StudentRegistration:add_StudentInfo' %}" class="register-form">
				{% csrf_token %}
				<table>
					<tr>
						<td>{{ form.First_name}}</td>
						<td>{{ form.Last_name}}</td>
					</tr>
					<tr>
						<td>{{ form.Email}}</td>
						<td>{{ form.Mobile_number}}</td>
					</tr>
					<tr>
					<tr>
						<td><label>ID</label></td>
						<td>{{ form.id }}</td>
					</tr>
					<tr>
						<td>Gender</td>
						<td>{{ form.Gender }}</td>
					</tr>
					<tr>
						<td><label>Date of Birth</label></td>
						<td>{{ form.Date_of_birth }}</td>
					</tr>
					<tr>
						<td colspan="2">{{ form.Address }}</td>
					</tr>
					<tr>
						<td>{{ form.City }}</td>
						<td>{{ form.Pin_code }}</td>
					</tr>
					<tr>
						<td>{{ form.State }}</td>
						<td>{{ form.Country }}</td>
					</tr>
					<tr>
						<td>Hobbies <br><br><br></td>
						<td>
							{{ form.Hobbies }}
						</td>
					</tr>
					<tr>
						<td>Course Applied For</td>
						<td>{{ form.Course_applied }}</td>
					</tr>
					<tr>
						<td><button type="submit" class="btn btn-black" value="Save" >submit</button></td>
						<td><button type="reset" class="btn btn-secondary" value="Delete ">reset</button></td>
					</tr>
				</table><br>
				<section id="end"></section>
				<br><br><br>

			</form>
		</div>
	</div>
{% endblock %}