<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/user_login.css' %}">
    <title>Login</title>

</head>
<body>
    <div class="sidenav">
         <div class="login-main-text">
            <h2>Register</h2>
            <p>Register from here to access.</p>
         </div>
    </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method="post" action="{% url 'StudentRegistration:register_user' %}">
                   {% csrf_token %}
                   {{ form.as_p }}
<!--                   {% if error_message %}-->
<!--                   <p class="bg-danger p-d ml-b">{{ error_message }}</p>-->
<!--                   {% endif %}-->
<!--                  <div>-->
<!--                      <div style="margin: 20px 20px 20px 0">-->
<!--                          {{ form.username }}-->
<!--                      </div>-->
<!--                  </div>-->
<!--                   <div>-->
<!--                      <div style="margin: 20px 20px 20px 0">-->
<!--                          {{ form.first_name }}-->
<!--                      </div>-->
<!--                  </div>-->
<!--                   <div>-->
<!--                      <div style="margin: 20px 20px 20px 0">-->
<!--                          {{ form.last_name }}-->
<!--                      </div>-->
<!--                  </div>-->
<!--                   <div>-->
<!--                       <div style="margin: 20px 20px 20px 0">-->
<!--                          {{ form.email }}-->
<!--                      </div>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                     <div style="margin: 20px 20px 20px 0 ">-->
<!--                         {{ form.password1.error }}-->
<!--                         {{ form.password1 }}-->
<!--                      </div>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                     <div style="margin: 20px 20px 20px 0">-->
<!--                          {{ form.password2 }}-->
<!--                      </div>-->
<!--                  </div>-->
                  <button type="submit" value="Register" class="btn btn-secondary">Register</button>
               </form>
            </div>
         </div>
      </div>


</body>
</html>