<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/user_login.css' %}">
    <title>Login</title>

</head>
<body>
<div class="sidenav">
         <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or Register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method="post" action="{% url 'StudentRegistration:login_user' %}">
                   {% csrf_token %}
                   {{ form.as_p }}
                   {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                   {% endif %}


<!--                   {% if error_message %}-->
<!--                        <p class="errors">{{ error_message }}</p>-->
<!--                   {% endif %}-->
<!--                  <div class="form-group ">-->
<!--                     <label>User Name</label>-->
<!--                      {{ form.username }}-->
<!--                  </div>-->
<!--                  <div class="form-group =">-->
<!--                     <label>Password</label>-->
<!--                      {{ form.password  }}-->
<!--                  </div>-->
                  <button type="submit" value="login" class="btn btn-black">Login</button>
                  <a class="btn btn-secondary" href="{% url 'StudentRegistration:register_user' %}">Register</a>
               </form>
            </div>
         </div>
      </div>


</body>
</html>