<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <title>Login</title>

</head>
<style>
    body{
        background-color: black;
    }
    section{
        text-align: center;
    }
    td{
        padding: 10px;
    }
    button{
        width: 150px;
    }
</style>

<body>
<br><br>
    <div class="container col-md-8 bg-light" style="border-radius: 10px">
        <br>
        <div class="container col-md-6">
             <section>
                 <h2>Register</h2>
                 <p>Register from here to access</p>
             </section>
         </div>
        <br>
        <div class="container col-md-11">
            {% if messages %}
                {% for m in messages %}
                    <div class="alert alert-{% if m.tags == 'error' %}danger{% else %}{{ m.tags }}{% endif %}" role="alert">
                        {{ m }}
                    </div>
                {% endfor %}
            {% endif %}
	    </div>
        <div class="container col-md-12">
           <form method="post" action="{% url 'StudentRegistration:register_user' %}" class="container col-md-10 ">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
<!--                    <tr>-->
<!--                        <td>{{ form.username.label }}</td>-->
<!--                        <td>{{ form.username }}</td>-->
<!--                    </tr>-->

<!--                    <tr>-->
<!--                        <td>{{ form.first_name.label }}</td>-->
<!--                        <td>{{ form.first_name }}</td>-->
<!--                    </tr>-->

<!--                    <tr>-->
<!--                        <td>{{ form.last_name.label }}</td>-->
<!--                        <td>{{ form.last_name }}</td>-->
<!--                    </tr>-->

<!--                    <tr >-->
<!--                        <td>{{ form.email.label }}</td>-->
<!--                        <td>{{ form.email }}</td>-->
<!--                    </tr>-->

<!--                    <tr>-->
<!--                        {{ form.password1.error }}-->
<!--                        <td>{{ form.password1.label }}</td>-->
<!--                        <td>{{ form.password1 }}</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>{{ form.password2.label }}</td>-->
<!--                        <td>{{ form.password2 }}</td>-->
<!--                    </tr>-->

<!--                    <br>-->
                </table>
                <br>
                <div class="container col-md-4">
                    <button type="submit" value="Register" class="btn btn-secondary">Register</button>
                </div>
                   <br><br>

            </form>
            <br>
        </div>
        <br>
    </div>
<br><br>


</body>
</html>